body {
  background-image: url("media/titlebg.gif");
  text-align: center;
    font-family: 'Wallpoet', sans-serif;
color: white;
}

.blackinfobox a{
text-decoration: none;
font-size: 25px;
}

a{
color:white;}

.wallpoet-regular {
  font-family: "Wallpoet", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.centerAdaptiveImg {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }

.siteContent {
    width: 100%;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    font-family: 'Wallpoet', sans-serif;
}

  .floatright{
    float: right;
    padding: 10px
  }

.blackinfobox{
background-color: rgba(0,0,0,0.5);
border-radius: 10px;
padding: 10px;
}
